<html>
<head>
    <title>AdminPage</title>
</head>
<body>
    <h1>AdminPage</h1>
    <h3 class="error">{{ error }}</h3>
    <h3 class="success">{{ success }}</h3>
    
    <div>
        <form action="{% url 'student_registration' %}" method="POST">
            {% csrf_token %}
            <h2>Student Registration</h2>
            FullName: <input type="text" name="SFullName"> <br>
            RollNo: <input type="text" name="SRollNo"> <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <form action="{% url 'TeacherRegistration' %}" method="POST">
            {% csrf_token %}
            <h2>Teacher Registration</h2>
            FullName: <input type="text" name="TFullName"> <br>
            MobileNo: <input type="text" name="TMobileNo"> <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <h1>Upload Image</h1>
        <form action="{% url 'UploadImage' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="Title">Title:</label>
            <input type="text" id="name" name="Title"><br><br>
            <label for="Description">Description:</label>
            <input type="text" id="name" name="Description"><br><br>
            <label for="image">Image:</label>
            <input type="file" id="image" name="Image"><br><br>
            <button type="submit">Upload</button>
        </form>
    </div>
    <div>
        <form action="{% url 'TimeTable' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Time Table</h2>
            Class: <select name="Class" id="" required>
                <option value="Class1">Class 1</option>
                <option value="Class2">Class 2</option>
                <option value="Class3">Class 3</option>
                <option value="Class4">Class 4</option>
                <option value="Class5">Class 5</option>
            </select>
            Image: <input type="file" name="TimeTable" id="" required> <br>
            <button type="submit">Update</button>
        </form>
    </div>
    <div>
        <form action="">
            <a href="{%url 'test'%}"><strong>LogOut</strong></a>
        </form>
    </div>
</body>
</html>
