<html>
    <head>
        <title>TeacherLogin</title>
    </head>
    <body>
        <h1>Teacher Page</h1>
        <h2>Welcome {{Teacher}}</h2>
        <h2>{{error}}</h2>
        <div>
            <h2>Notifications</h2>
            <ul>
                {% for image in image %}
                    <a href="{{image.Image.url}}"><li>{{ image.Title }}: {{image.Description}}</li></a>
                {% endfor %}
            </ul>
        </div>
        <div>
            <form action="{%url 'UpdateTeacherDetails'%}" method="POST"> 
                {% csrf_token %}
                <h1>EDIT DETAILS</h1>
                <h4>{{success}}</h4>
                <input type="hidden" name="TeacherName" value="{{data.FullName}}">
                <input type="hidden" name="TeacherMobileNo" value="{{data.MobileNo}}">
                MobileNo: <input type="number" name="UpdateMobileNo">
                Password: <input type="text" name="UpdatePassword">
                <button type="submit">Update</button>
            </form>
            
        </div>
        <div>
            <form action="">
                <a href="{%url 'test'%}"><strong>LogOut</strong></a>
            </form>
        </div>
    </body>
</html>